@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src:
    url(./assets/fonts/Pretendard-SemiBold.woff2) local('Pretendard SemiBold'),
    local('Pretendard-SemiBold'),
    format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src:
    url(./assets/fonts/Pretendard-Regular.woff2) local('Pretendard Regular'),
    local('Pretendard-Regular'),
    format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src:
    url(./assets/fonts/Pretendard-Light.woff2) local('Pretendard Light'),
    local('Pretendard-Light'),
    format('woff2');
}
